.notification-mail-preview-drawer {
    width: 100vw !important;
    max-width: 100vw;
}

.notification-mail-preview-drawer .offcanvas-body {
    overflow: auto;
}

.notification-mail-search {
    max-width: 22rem;
}

.notification-mail-preview-drawer table {
    width: max-content;
    min-width: 100%;
}
